@model IList<ValueFurniture.Models.ProductListViewModel>

@{
    ViewBag.Title = "ShowProducts";
}

<table class="table">
    <tr>
        <th>
             Category
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Details
        </th>
        <th>
            Picture
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPictureURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQuantity)
        </td>
    </tr>
}

</table>
